{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="main-container">
    <!-- About us -->
    <section class="me-home wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                                <img class="img-fluid" src="{% static 'images/01.png' %}" alt="drive">
                            </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="iq-home">
                        <div class="home-deta iq-mt-90">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="boder-img">
                                        <img src="{% static 'images/home.jpg' %}" class="img-fluid" alt="#">
                                    </div>
                                </div>
                                <div class="col-md-8 content-deta">
                                    <h2 class="iq-tw-8 ">{% trans 'Hello' %},<br>{% trans 'I am Mike LOGOVI' %} </h2>
                                    <div id="typer"></div>
                                    <p class="lead iq-tw-4 my-description">
                                        {% trans "I am autonomous, self-taught and disciplined. Perseverance is what I share every day. Passionate and open, I love programming and thanks to it I can express all my ideas. I also have a social life. I am a leader and communication is my strongest point. I have earned in 2017 a scholarship from my country Togo for being amoung the best student in baccalaureate in 2016 in order to study computer Science at University of Algiers 1. Actually I have my Licence with honors and I have already started my Master in Computer Science at University Laval in Canada. During my program, I also use to share my knowledge to people around the world through my youtube channel named Dresseur de Code." %}
                                    </p>
                                    <p class="job-notification animate__animated animate__bounce ">
                                        {% trans 'Currently looking for a job OR INTERNSHIP as a fullstack web developer or MOBILE DEVELOPER' %}
                                    </p>
                                    <a class="button iq-mt-30" href="{% if LANGUAGE_CODE == 'en' %}https://www.dropbox.com/s/hs2x188cz94libw/cv_updated_english.pdf?dl=1{% else %}https://www.dropbox.com/s/hs2x188cz94libw/cv_updated_english.pdf?dl=1{% endif %}" target="_blank">{% trans 'Download my CV'%}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>
<!-- Main Content End -->

{% endblock %}