{% extends 'layout.html' %}
{%load static%}
{% load i18n %}
{% block content%}
<div class="main-container">
    <!-- About us -->
    <section class="iq-portfolio wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                            <img class="img-fluid" src="{% static 'images/01.png' %}" alt="drive">
                        </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="inner-box">
                        <div class="iq-plr-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title iq-mb-20">
                                <small>My Featured Work</small>
                                <h1 class="display-4 iq-tw-8 iq-font-purple">My Portfolio</h1>
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="isotope-filters">
                    <button data-filter="" class="active"> View All</button>
                    <button data-filter=".web-design"> Web Design</button>
                    <button data-filter=".graphic-design">Graphic Design</button>
                    <button data-filter=".website-templates">Website Templates </button>
                </div>
                    </div>
                    <div class="col-md-12">
                        <div class="isotope popup-gallery full-screen">
            <div class="grid-item web-design graphic-design clearfix">
                <div class="portfolio-item clearfix">
                    <img src="{% static 'images/portfolio/01.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/01.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item web-design">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/02.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/02.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item website-templates">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/03.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/03.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item graphic-design">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/04.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/04.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item web-design">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/05.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/05.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/06.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/06.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item website-templates">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/07.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/07.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item website-templates">
                <div class="portfolio-item">
                    <img src="{% static 'images/portfolio/08.jpg' %}" alt="img04">
                    <div class="overlay">
                        <h4>work item one</h4>
                        <span>jones</span>
                        <div class="item-link">
                            <a class="popup-img" href="{% static 'images/portfolio/08.jpg' %}"><span class="ti-plus"></span></a>
                            <a href="#"><span class="ti-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>

{% endblock %}