{% extends 'layout.html' %}
{%load static%}
{% load i18n %}
{% block content%}
<div class="main-container">
    <!-- About us -->
    <section class="iq-portfolio wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                            <img class="img-fluid" src="{% static 'images/01.png' %}" alt="drive">
                        </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="inner-box">
                        <div class="iq-plr-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title iq-mb-20">
                                <small>{% trans 'My Featured Work' %}</small>
                                <h1 class="display-4 iq-tw-8 iq-font-purple">{% trans 'My Portfolio' %}</h1>
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="isotope-filters">
                            <button data-filter="" class="active"> View All</button>
                            {% for p in portfolios%}
                                <button data-filter=".{{p.slug}}"> {{p.name}}</button>
                            {% endfor  %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                        <div class="isotope popup-gallery full-screen">
                            {% for p in portfolios %}
                            {% for image in p.images.all%}
                            <div class="grid-item {{image.portfolio.slug}} graphic-design clearfix">
                                <div class="portfolio-item clearfix">

                                    <img style="height:200px;" src="{{image.picture}}" 
                                    alt="{{image.name}}">
                                    <div class="overlay">
                                        <h4>{{image.title}}</h4>
                                        <span>{{image.description}}</span>
                                        <div class="item-link">
                                            <a class="popup-img" href="{{image.picture}}"><span class="ti-plus"></span></a>
                                            <a href="{{image.appurl}}" target="_blank"><span class="ti-link"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>

{% endblock %}