{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block content%}

<div class="main-container">
    <!-- About us -->
    <section class="iq-services wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                            <img class="img-fluid" src="{% static 'images/01.png' %}" alt="drive">
                        </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="inner-box">
                        <div class="resume-deta iq-plr-40">
                            <div class="row white-bg">
                                <div class="col-md-12">
                                    <div class="main-title iq-mb-20">
                                        <small>{% trans 'What I Can Do Butter' %}</small>
                                        <h1 class="display-4 iq-tw-8 iq-font-purple">{% trans 'Services' %}</h1>
                                    </div>
                                </div>
                                {% for service in ser %}
                                <div class="col-lg-3 col-md-3 col-md-3">
                                    <div class="service-block text-left">
                                        <img src="{{service.picture}}" class="img-fluid" alt="#">
                                        <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">{{service.name}}</h6>
                                        <p>{{service.description}}</p>
                                    </div>
                                </div>
                               {% endfor %}
                            </div>
                        </div>
                        <div class="clients iq-pall-40 iq-mt-40">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-md-12">
                                    <h3 class="title iq-tw-8 iq-mt-0">{% trans 'My Clients' %}</h3>
                                    <div class="owl-carousel"data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="1" data-margin="30" >
                                        {% for client in clients %}
                                            <div class="item"> <img class="img-responsive center-block" src="{{client.picture}}" alt="client"></div>
                                        {% endfor %}    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Counter -->
                        <div class="iq-counter-box iq-pall-20">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    
                                </div>
                                <div class="col-md-3 text-center">
                                    <div class="counter re-mt30"> <i class="ti-medall iq-font-purple" aria-hidden="true"></i> <span class="timer iq-tw-6 iq-font-black" data-to="4" data-speed="10">4</span>
                                        <label>{% trans 'Project' %}</label>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div class="counter re-mt30"> <i class="ti-face-smile iq-font-purple" aria-hidden="true"></i> <span class="timer iq-tw-6 iq-font-black" data-to="4" data-speed="10000">4</span>
                                        <label>{% trans 'Happy Clients' %}</label>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Counter END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>
<!-- Main Content End -->



{% endblock %}